@page "/Beerlift"

@inherits BeerliftBase

<h1>@deviceId : @moduleName</h1>

@if (Validated)
{
<p>
    <button class="btn btn-primary" @onclick="Up"><Icon Name="IconName.ArrowUp" /></button>
    <button class="btn btn-primary" @onclick="Down"><Icon Name="IconName.ArrowDown" /></button>
    <button class="btn btn-primary" @onclick="Circus">Circus</button>
    <button class="btn btn-primary" @onclick="Advertise">Advertise</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="Ambiant">Ambiant</button>
    Temperature: @temperature;
    Humidity: @humidity;
    Flooded: @flooded;
    Lift state: @liftState;
    Attempts: @attempts
</p>

<BottleHolderComponent deviceId="@deviceId"
                       moduleName="@moduleName"
                       BottleholderSelectEvent="BottleholderSelected" />

<p>
    Incoming telemetry: @telemetryMessage
</p>

<p>
    Incoming heartbeat: @heartbeatMessage
</p>
}
else
{
<p>
    Not validated yet
</p>
}