@inherits BottleHolderComponentBase

<h3>Bottle holders</h3>

<select @onchange="BottleHolderElementSelected" size="16" style="width:100%">
    @foreach (var bottleholder in Bottleholders)
    {
    <option value="@bottleholder.indexer">@bottleholder.indexer - @bottleholder.name - @bottleholder.state</option>
    }
</select>

<p>
    @MarkedText
</p>

<p>
    <input @bind="BottleBrandAndMake" placeholder="Brand and make" />
    <button class="btn btn-primary" @onclick="AddBottle">Add bottle</button>
    @AddBottleText
    <button class="btn btn-primary" @onclick="RemoveBottle">Remove bottle</button>
</p>

<br />
<br />