@page "/"

@inherits IndexBase

<h1>Welcome to the Beerlift dashboard</h1>

<p>
    <input @bind="deviceId" placeholder="Device id" />

    <input @bind="moduleName" placeholder="Module name" />

    <input @bind="password" type="password" placeholder="Password" />
</p>

<p>
    <button class="btn btn-primary" @onclick="Validate">Validate</button>
</p>

<p>
    Message: @message
</p>